<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>HEY THERE BURLY BEAR</h1>
        <p>Welcome to the profile of <%= person%></p>
        
    </body>
</html>